<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMC | Pooling</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="static/image.png">
    <link rel="stylesheet" href="static/style.css"></link>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    {% include "nav.html" %}
    <div class="header">
        <div class="inside">
            <p class="p-head">SMC Pooling</p>
            <p class="head-p">Add/remove maps from the pool and view them here.</p>
        </div>
    </div>
    <br>
    <div class="pool-toolbar">
        <div class="add-map-card">
            <form action="/pool" method="get" class="sort-filter">
                <label><input type="checkbox" name="sort" value="sr" onchange="this.form.submit()"> SR</label>
                <label><input type="checkbox" name="sort" value="df" onchange="this.form.submit()"> DF</label>
                <label><input type="checkbox" name="sort" value="wk" onchange="this.form.submit()"> WK</label>

                <select name="filter_df" onchange="this.form.submit()">
                    <option value="">DF</option>
                    {% for i in range(1, 11) %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>

                <select name="filter_wk" onchange="this.form.submit()">
                    <option value="">WK</option>
                    {% for i in range(1, 11) %}
                    <option value="{{ i }}">WK {{ i }}</option>
                    {% endfor %}
                </select>
            </form>
            <form action="/pool/add" method="post" class="add-map">
                <input type="number" class="input" name="beatmap_id" placeholder="beatmap id" required>
                <input type="number" class="input1" name="df" placeholder="df" min="1" max="10" required>
                <input type="number" class="input1" name="wk" placeholder="wk" required>
                <button type="submit" class="button">add</button>
            </form>
        </div>
    </div>
    <div class="content">
        {% for entry in pool %}
        <div class="pool-card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)), url({{ entry.beatmap_covers }});">
            <form action="/pool/toggle" method="post" onchange="this.submit()" style="position: absolute; top: 10px; right: 10px;">
                <input type="hidden" name="checksum" value="{{ entry.checksum }}">
                <input type="checkbox" class="checkbox" name="active" {{ "checked" if entry.active }}>
            </form>
            <p class="artist">{{ entry.artist }}</p>
            <p class="title">{{ entry.title }} <span class="diff">[{{ entry.difficulty }}]</span></p>
            <p class="map-info"><span class="stars">★ {{ entry.stars | round(2) }} - <img src="static/metronome.svg" style="width: 16px; height: 16px; vertical-align: middle;"> {{ entry.bpm }} - <img src="static/clock.svg" style="width: 16px; height: 16px; vertical-align: middle;"> {{ entry.length }}</span></p>
            <p class="map-info"><span class="stars"><i class="fa fa-user-circle" aria-hidden="true"></i> {{ entry.creator }} - <img src="static/osu.svg" style="width: 16px; height: 16px; vertical-align: middle;"> <a href="https://osu.ppy.sh/beatmapsets/{{ entry.beatmapset_id }}#osu/{{ entry.map_id }}" style="color: #f8b1cf">{{ entry.map_id }}</a></span></p>
            <form action="/pool/remove" method="post" style="position: absolute; bottom: 10px; right: 10px;">
                <input type="hidden" name="checksum" value="{{ entry.checksum }}">
                <button type="submit" class="remove-btn"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </form>
        </div>
        {% endfor %}
    </div>
</body>
</html>